*{
    padding: 0;
    margin: 0;
}
body{
    background: peachpuff;
}
@media(min-width: 400px){
    #background{
        color: black;
    }
}
h1{
    background-color: black;
    color: palegreen;
}
